<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Eaque provident odit quam doloribus quas tempora voluptatibus, 
                voluptatem reprehenderit quod dicta cupiditate 
                natus cumque voluptatum, accusantium laudantium perferendis. 
                Reiciendis, totam praesentium.
            </p>

        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>nome@email.com</li>
                <li><i class="fa-solid fa-phone"></i>(99) 99999-9999</li>
                <li><i class="fa-brands fa-whatsapp"></i>(99) 99999-9999</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todo os direitos reservados
    </section>
</footer>